<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4> <span class="font-weight-semibold">TO - DO</span> | PORTAL</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements">
            <div class="d-flex justify-content-center">
                <!--<a asp-controller="ControlCenter" asp-action="BulkMail" class="btn btn-link btn-float text-default"><i class="icon-mailbox text-primary"></i><span>Toplu Mail Gönder</span></a>-->
                <!-- <a href="#" class="btn btn-link btn-float text-default"><i class="icon-bell2 text-primary"></i> <span>Bildirim Gönder</span></a>
    <a href="#" class="btn btn-link btn-float text-default"><i class="icon-coins text-primary"></i> <span>Ödeme Kontrolü</span></a>-->
                <a asp-controller="ControlCenter" asp-action="NewDo" class="btn btn-link btn-float text-default"><i class="icon-plus2 text-primary"></i> <span>Yeni Not Ekle</span></a>
                <a asp-controller="ControlCenter" asp-action="AllList" class="btn btn-link btn-float text-default"><i class="icon-list text-primary"></i> <span>Notlar</span></a>

                <!--<a asp-controller="ControlCenter" asp-action="WpBulkMessage" class="btn btn-link btn-float text-default"><i class="icon-phone-plus text-primary"></i> <span>Toplu WhatsApp Mesaj Gönder</span></a>-->
                <!--<a asp-controller="ControlCenter" asp-action="MailSender" class="btn btn-link btn-float text-default"><i class="icon-paperplane text-primary"></i> <span>Mail Gönder</span></a>-->
            </div>
        </div>
    </div>


</div>