@model ResetPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET PASSWORD - PSO AKADEMİ | YÖNETİM SİSTEMİ</title>
    <meta http-equiv="content-language" content="TR">
    <meta http-equiv="content-language" content="ENG">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Copyright" content="Copyright © 2021, RESPONSIVE SOFT">
    <meta name="robots" content="noindex, nofollow">
    <meta name="Pragma" content="no-cache">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Login/bootstrap.css">
    <link rel="stylesheet" href="~/Login/my-login.css">
    <link rel="shortcut icon" href="~/Login/favicon.svg" type="image/x-icon">

</head>

<body class="my-login-page" style="background-image: url('../Login/bg_login.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center align-items-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <a asp-controller="Account" asp-action="Login"><img src="~/Login/logo.jpg" alt="logo"></a>
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Parolamı Sıfırla</h4>
                            <form class="form form-validate-jquery" asp-controller="Account" asp-action="ResetPassword">
                                <div class="form-group">
                                    <label for="email">E-Mail Adresi</label>
                                    <input id="email" type="email" class="form-control" name="Email" required autofocus>
                                    <div class="invalid-feedback">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new-password">Yeni Parola</label>
                                    <input id="new-password" type="password" class="form-control" name="Password" required autofocus data-eye>
                                    <div class="invalid-feedback">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-text text-muted">
                                        Lütfen parolanızın güçlü ve hatırlaması kolay olduğundan emin olun
                                    </div>
                                </div>
                                <input type="hidden" name="Token" value="@Model.Token" />
                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Parolamı Sıfırla
                                    </button>
                                    <br />
                                    <a asp-controller="Account" asp-action="ForgotPassword" class="float-right">
                                        Parolanızı mı unuttunuz?
                                    </a>
                                    <br />
                                    <div asp-validation-summary="ModelOnly" class="text-danger">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="~/Login/jquery.min.js"></script>
    <script src="~/Login/my-login.js"></script>
</body>
</html>